body{
    position: relative;
    font-family: serif;
    font-size: 14px;
    line-height: 2;
    color: #555;
    background: #f3f3f3; 
    margin: 0px;
}
* {
    box-sizing: border-box;
} 
.main {
    height: 100%;
    overflow: hidden;
}
